*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 100%;
}
.sidebar {
  background-color: #2E86C1;
  color: #FFF;
  min-height: 100VH;
}
.sidebar .title {
  padding-top: 10px;
}