  <!--MAIN PAGE-->
  <div class="container-fluid">
    <div class="row">
      <!--LEFT SIDEBAR-->
      <div class="col-xs-2 sidebar">
        <div class="row">
          <!--TITLE BOX-->
          <header class="col-xs-12 title">
            <h3>T-Chat</h3>
            <div class="newRoom">
              <button class="btn btn-default btn-sm" ng-click="home.openModal()">Create Room</button>
            </div>
          </header>
          <nav class="col-xs-12">
            <ul ng-repeat="room in home.roomList">
              <li>{{ room.$value }}</li>
            </ul>
          </nav>
        </div>
      </div>
      <!--CHAT SECTION-->
      <div class="col-xs-10">
      </div>
    </div>
  </div>
